* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 2.5em);
  grid-template-rows: repeat(9, 4em);
  justify-content: center;
}

.one {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: #E8DB91; /*pale-yellow*/
}

.two {
  grid-column: 1/6;
  grid-row: 2/3;
  background-color: #9ab9d1; /*light-blue*/

}

.three {
  grid-column: 6/-1;
  grid-row: 2/3;
  background-color: #D37A31; /*orange*/
}

.four {
  grid-column: 1/9;
  grid-row: 3/4;
  background-color: #F1E9DD; /*off-white*/
}

.five {
  grid-column: 9/-1;
  grid-row: 3/4;
  background-color: #275E4D; /*green*/
}

.six {
  grid-column: 1/4;
  grid-row: 4/5;
  background-color: #D37A31; /*orange*/
}

.seven {
  grid-column: 4/12;
  grid-row: 4/5;
  background-color: #DAA938; /*yellow*/
}

.eight {
  grid-column: 12/-1;
  grid-row: 4/5;
  background-color: #F1E9DD; /*off-white*/
}

.nine {
  grid-column: 1/9;
  grid-row: 5/6;
  background-color: #674B4F; /*brown */
}

.ten {
  grid-column: 9/-1;
  grid-row: 5/6;
  background-color: #E8DB91; /*page-yellow*/
}

.eleven {
  grid-column: 1/span 12;
  grid-row: 6/7;
  background-color: #F1E9DD; /*off-white*/
}

.twelve {
  grid-column: 1/span 12;
  grid-row: 7/8;
  background-color: #2E614F; /*green*/
}

.thirteen {
  grid-column: 1/7;
  grid-row: 8/9;
  background-color: #E8DB91; /*page-yellow*/
}

.fourteen {
  grid-column: 7/-1;
  grid-row: 8/9;
  background-color: #D37A31;
}

.fifteen {
  grid-column: 1/span 12;
  grid-row: 9/10;
  background-color: #9EC1D0; /*light-blue*/
}

.the {
  grid-column: 1/6;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  font-size: 5em;
  font-family: 'Cedarville Cursive', cursive;
}

.happiest {
  grid-column: 5/-1;
  grid-row: 1/2;
  font-size: 4em;
  padding-right: 0.4em;
  overflow: hidden;
  align-self: center;
  color: #A73439;
  font-family: 'Patua One', cursive;
}

.people {
  grid-column: 6/-1;
  grid-row: 2/3;
  font-size: 3.3em;
  padding-left: 0.2em;
  overflow: hidden;
  align-self: center;
  color: white;
  font-family: 'Patua One', cursive;
  font-weight: lighter;
}

.dont {
  grid-column: 1/8;
  grid-row: 3/4;
  font-size: 2em;
  justify-self: end;
  align-self: center;
  margin-left: 0.2em;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.best {
  grid-column: 7/11;
  grid-row: 4/5;
  font-size: 5em;
  overflow:hidden;
  padding-bottom: 0.1em;
  align-self: center;
  color: black;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: lighter;
}

.of {
  grid-column: 10/11;
  grid-row: 4/5;
  font-size: 2em;
  padding-left: 0.4em;
  align-self: end;
  color: black;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
}

.everything {
  grid-column: 1/9;
  grid-row: 5/6;
  font-size: 3.8em;
  color: white;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  font-family: 'Patrick Hand', cursive;
}

.they {
  grid-column: 1/span 12;
  grid-row: 6/7;
  font-size: 3.8em;
  overflow: hidden;
  justify-self: center;
  align-self: center;
  padding-bottom: 0.2em;
  color: #A73439;
  font-weight: bolder;
  font-family: 'Patrick Hand', cursive;

}

.the-best {
  grid-column: 2/span 12;
  grid-row: 7/8;
  font-size: 3.6em;
  overflow: hidden;
  align-self: center;
  color: #E6AF36;
  font-family: 'Dosis', sans-serif;

}

.of2 {
  grid-column: 7/8;
  grid-row: 8/9;
  font-size: 3em;
  justify-self: center;
  align-self: center;
  padding-left: 0.8em;
  color: white;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
}

.everything1 {
  grid-column: 4/10;
  grid-row: -2/-1;
  font-size: 3.6em;
  color: #242527;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
}
